body {
  max-width: 1000px;
  margin: auto;
  font-family: 'Helvetica', 'Arial', sans-serif;
}

header {
  display: block;
  max-width: 95%;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 20px;
  border: 2px solid black;
  border-radius: 5px;
  padding: 20px 50px;
  text-align: center;
  background-color: rgb(255, 253, 185);

}

h2 {
  font-size: 24px;
  font-weight: 900;
  margin-bottom: 10px;
}

#clicksDiv {
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
  text-align: center;
}

.pClicks {
  border: 2px solid black;
  background-color: rgb(236, 177, 156);
  border-radius: 5px;
  max-width: fit-content;
  padding: 10px 0 10px 10px;
  margin: auto;
}

#clicks {
  font-weight: 700;
  font-size: 18px;
  color: rgb(224, 150, 123);
  background-color: rgb(255, 255, 255);
  border-radius: 3px;
  padding: 8.75px;
}

#imgContainer {
  display: flex;
  background-color: rgb(255, 253, 185);
  border: 2px solid black;
  margin: 10px auto;
  align-items: center;
  justify-content: space-evenly;
  object-fit: cover;
  width: 100%;
  height: 400px;
  overflow: hidden;
  border-radius: 5px;
}

.img {
  max-width: 55%;
  max-height: 55%;
  border: thin solid black;
  border-radius: 5px;
  transition-duration: 125ms;  
}

.img:hover {
  border: 3px solid rgb(224, 150, 123);
  box-shadow: 1px 1px 20px #696969;
}

#chartDiv {
  display: block;
  height: 400px;
  margin-top: 20px;  
  margin-bottom: 30px;

}